body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	width: 100%;
	background: #FFFFFF;
	margin: 0;
}

img {
	display: block;
}

/* Container
=================*/
.container {
    max-width: 1180px;
	width: 100%;
    margin: 0 auto;
}

label {
	display: block;
	margin: 20px, auto;
}

/*-- Header --*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

.header-logo {
	padding: 0 40px 0 0;
}

.search-ico {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(/images/search.svg) no-repeat;
	background-position: center;
}

.header-nav {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin: 0 auto 0 0;
}

.header-nav-list li {
	margin-right: 20px;
}

.header-nav-list {
	display: flex;
	align-items: center;
	margin-left: 60px;
}

.header-nav-link {
	margin-left: 20px;
	text-decoration: none;
	color: #1E0606;
	text-transform: uppercase;
}

.bold {
	font-weight: 700;
}


.header-nav-link:hover {
	opacity: 0.5;
}

.header-nav-link:active {
	opacity: 0.2;
}

.header-nav-link:first-child {
	margin-left: 0;
}

.header-find-contact {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.banner {
	display: flex;
	justify-content: flex-start;
	height: 380px;
	background: #EEE4DB;
	margin-top: 130px;
	padding: 17px 0 0 28px;
	position: relative;
}

h1 {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 110%;
	margin: 0;
}

h2 {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 110%;
	margin: 0;
}

li {
    list-style-type: none;
}

/* Main */
.banner-slider {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 60px;
	font-weight: 300;
	color: rgba(30, 6, 6, 0.05);
	width: 130px;
}

.rectangle {
	height: 3px;
	width: 31px;
	background: #D6CAC2;
	margin: 10px 5px;
}

.rectangle-active {
	height: 3px;
	width: 31px;
	background: rgba(30, 6, 6, 0.6);
	margin: 10px 5px;
}

.banner-title {
	max-width: 310px;
}

.banner-logo {
	height: 461px;
	width: 636px;
	position: absolute;
	bottom: 0;
	right: 100px;
}

.banner-bottom-line {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	background: #C29974;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-designedin {
	font-family: "Crimson Text", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
}

/* Category */

.category {
	margin-top: 90px;
}

.category-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.category-arrow {
	width: 680px;
	height: 44px;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 30px 20px 90px 0;
	align-items: center;
}

.category a {
	font-size: 0;
}

.category-arrow-left {
	margin-right: 6px;
}

.category-arrow-right {
	margin-right: 20px;
}

/* Delivery */
.delivery {
	display: flex;
	max-width: 1080px;
	position: relative;
}

ul {
	padding: 0;
}

.delivery-menu {
	position: absolute;
	width: 540px;
	height: 472px;
	top: 24px;
	left: 540px;
}

.delivery-list {
	font-family: 'Crimson Text', serif;
}

.delivery-menu h2 {
	margin-left: 50px;
}

.delivery-item a {
	color: #000000;
	margin-left: 50px;
	text-decoration: none;
}

.delivery-menu ul p {
	font-family: 'Open Sans', sans-serif;
	margin-left: 50px;
}

.delivery-item {
	font-family: 'Crimson Text';
	font-size: 26px;
	line-height: 55px;
	color: #000000;
}

.delivery-item-active {
	font-weight: 700;
	width: 326px;
	height: 55px;
	background-color: rgba(112, 187, 220, 0.2);
}

.delivery-button {
	margin-top: 26px;
}

/* Contacts */

.contacts {
	display: flex;
	width: 1143px;
	font-size: 16px;
	margin-bottom: 60px;
}

.contacts-item {
	padding-left: 30px;
	position: relative;
}

.contacts-about {
	font-family: 'Crimson Text';
	font-size: 26px;
	font-weight: 400;
	font-style: italic;
}

.contacts-item:after {
    content: '';
    display: block;
    position: absolute;
    background: #E1F0F7;
    width: 543px;
    height: 236px;
	top: 21px;
	left: 0px;
	z-index: -1;
}

.contact-button {
	margin-top: 20px;
}

/* Footer */

.footer {
	color: #ffffff;
	box-sizing: border-box;
	background-color: #434343;
	padding: 100px 110px;
	max-width: 1400px;
	margin: 0 auto;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #666666;
	margin-bottom: 25px;
}

.footer-block {
	width: 380px;
}

.footer-block-header {
	display: block;
	font-size: 16px;
	color: #AAAAAA;
	border-bottom: 1px solid #666666;
	line-height: 70px;
	margin-bottom: 28px;
}

.footer-link {
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	margin-left: 0;
	line-height: 40px;
	text-decoration: none;
}

.footer-img {
	display: inline;
}

.footer-social-list {
	display: flex;
	margin-top: 25px;
}

.footer-social {
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.footer-social-facebook {
	background: url(/images/facebook.svg) no-repeat;
}

.footer-social-twitter {
	background: url(/images/twitter.svg) no-repeat;
}

.footer-social-pinterest {
	background: url(/images/pinterest.svg) no-repeat;
}

.footer-social-instagram {
	background: url(/images/instagram.svg) no-repeat;
}


.footer-ratingstar {
	margin-right: 3px;
	display: inline;
}

.footer-ratingstar:first-child {
	margin-left: 25px;
}

.footer-input {
	width: 300px;
	height: 40px;
	background-color: #666666;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 9px 0 9px 15px;
}

.footer-input::placeholder {
	color: #FFFFFF;
}

.footer-button {
	width: 80px;
	height: 40px;
	background-color: black;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;

}

.footer-footer {
	display: flex;
	justify-content: space-between;
}

.footer-dl {
	color: #A6A6A6;
}

/* Window Modal */

.modal {
    max-width: 1400px;
    height: 768px;
    background: #E5EAF8;
    display: flex;
    justify-content: center;
    background: rgba(125, 151, 218, 0.8);
	margin: 0 auto;
	}

.form {
    width: 600px;
    height: 412px;
    background: #E5EAF8;
    padding: 65px 40px;
    margin-top: 113px;
	position: relative;
  }
  
  .name {
    width: 100%;
    height: 73px;
    margin-bottom: 20px;
  }
  
  .message {
    width: 100%;
    height: 173px;
  }

  .wrapper {
    display: flex;
    width: 100%;
    height: 73px;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
	height: 50px;
	border-width: 1px;
    border-style: solid;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
  }

  textarea {
    width: 100%;
	height: 150px;
	resize: none;
	border-width: 1px;
    border-style: solid;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
  }

  .name {
    width: 100%;
  }

  .phone {
      margin-right: 20px;
  }

  .phone, .email {
      width: 50%;
  }

  .box {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }

  .checkbox {
    display: flex;
    align-items: center;
  }
	
.button {
	background: #000000;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	padding: 9px 22px;
	}

button {
	border: 0;
	cursor: pointer;
	}

.close_window {
	display: block;
	background: url(/images/close.svg);
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: -25px;
	cursor: pointer;
}

.partners {
	display: flex;
	justify-content: space-between;
	margin: 90px 0;
}
